<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AutomationSuite" verbose="1" parallel="classes" thread-count="10">

	<test name="RegisterTest">
		<classes>
			<class name="Tutorialsninja.TC_001" />
			
			<class name="TestNG.TestNG_TC_002" />
			
			<class name="BDD.BDD_TC_001" />
			<class name="BDD.BDD_TC_002" />


		</classes>
	</test>

</suite>
